
nav{
    width: 100%;  
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    z-index: 10;
    position: fixed;
    top: 0%;
}

.dark-nav {
    background-color: #1A4B85;
    transition: 1s;
}

nav h1{
    font-size: 2.2rem;
    cursor: pointer;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    cursor: pointer;
    padding: 0px 40px;
    font-size: 1.1rem;
}

.menu-icon{
    display: none;
}
/* ============= Media Queries =================== */
/* ============= Mobile Device =================== */
@media (max-width : 480px){
    nav{
        width: 100%;  
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        z-index: 10;
        position: fixed;
        top: 0%;
    }
    
    nav h1{
        font-size: 1.2rem;
    }
    
    nav ul{
        display: block;
        position: fixed;
        top: 0%;
        bottom: 0%;
        right: 0%;
        width: 200px;
        background-color: #1A4B85;
        padding-top: 70px;
        z-index: -1;
        transition: 0.6s;
    }
    
    nav ul li {
        list-style-type: none;
        cursor: pointer;
        padding: 10px 30px;
        font-size: 1rem;
    }

    .menu-icon{
        display: block;
        width: 25px;
        cursor: pointer;
    }
}